/*скидання стилів для списків*/
%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*підписи для секцій в desctop і tablet*/
%section-title {
font-weight: 700;
font-size: 42px;
line-height: 1.2;
}