/*скидання стилів для списків*/
%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*підписи для секцій в desctop і tablet*/
%section-title {
font-weight: 700;
font-size: 42px;
line-height: 1.2;
}

%input {
    padding: 12px;
    border: 0.854167px solid $main-yellow-color;
    border-radius: 30px;
    width: 279px;

    &::placeholder {
        font-size: 12px;
    }

    &:focus {
        outline: none;
        border: 0.854167px solid #FF705D;
    }

    &:not(:placeholder-shown):required:valid {
        border: 0.854167px solid #7EB101;
    }

    &:not(:placeholder-shown):required:invalid {
        border: 0.854167px solid #FF705D;
    }
}

%button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 11px 22px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
}