/*кольори*/

$accent-green-color: #BBF330;
/*колір ховеру зелений світлий*/

$main-green-color: #7EB101;
/*колір основний зелений темний*/

$main-yellow-color: #FFE550;
/*колір основний жовтий*/

$main-text-color: #2C2C2C;
/*колір тексту основний*/

$nav-text-color: #000000;
/*колір тексту навігації у хедері і футері*/

$placeholder-text-color: #505050;
/*колір тексту на плейсхолдерах у формах*/

$main-bg-color: #F5F5F5;
/*колір фону основний білий темноватий*/

$secondary-bg-color: #FEFEFE;
/*колір фону другорядний білий світлий для хедера, футера і полів відгуків замовників*/

/*часова функція для анімацій*/
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);