<!-- Favorites Section -->
<section class="favorites section">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list list">
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-gamburger@1x.png"
          alt="Hamburger picture"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-pasta@1x.png"
          alt="Pasta picture"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-pizza@1x.png"
          alt="Pizza picture"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-chicken@1x.png"
          alt="Chicken picture"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-salat@1x.png"
          alt="Salad picture"
          width="315"
          height="315"
        />
      </li>
      <li class="favorites-item">
        <img
          class="favorites-image"
          src="./images/desctop/desctop-fav-borshch@1x.png"
          alt="Borshch picture"
          width="315"
          height="315"
        />
      </li>
    </ul>
  </div>
</section>
