<!-- Favorites Section -->
<section class="favorites" id="part-favorites">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-fav-gamburger@1x.png 1x,
              ./images/mobile/mobile-fav-gamburger@2x.png 2x,
              ./images/mobile/mobile-fav-gamburger@3x.png 3x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/tablet-fav-gamburger@1x.png 1x,
              ./images/tablet/tablet-fav-gamburger@2x.png 2x,
              ./images/tablet/tablet-fav-gamburger@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-gamburger@1x.png 1x,
              ./images/desctop/desctop-fav-gamburger@2x.png 2x,
              ./images/desctop/desctop-fav-gamburger@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-gamburger@1x.png"
            alt="Hamburger picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-fav-pasta@1x.png 1x,
              ./images/mobile/mobile-fav-pasta@2x.png 2x,
              ./images/mobile/mobile-fav-pasta@3x.png 3x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/tablet-fav-pasta@1x.png 1x,
              ./images/tablet/tablet-fav-pasta@2x.png 2x,
              ./images/tablet/tablet-fav-pasta@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-pasta@1x.png 1x,
              ./images/desctop/desctop-fav-pasta@2x.png 2x,
              ./images/desctop/desctop-fav-pasta@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-pasta@1x.png"
            alt="Pasta picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
      <li class="favorites-item">
        <picture>
          <source
            srcset="
              ./images/mobile/mobile-fav-pizza@1x.png 1x,
              ./images/mobile/mobile-fav-pizza@2x.png 2x,
              ./images/mobile/mobile-fav-pizza@3x.png 3x
            "
            media="(max-width:767px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/tablet-fav-pizza@1x.png 1x,
              ./images/tablet/tablet-fav-pizza@2x.png 2x,
              ./images/tablet/tablet-fav-pizza@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-pizza@1x.png 1x,
              ./images/desctop/desctop-fav-pizza@2x.png 2x,
              ./images/desctop/desctop-fav-pizza@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-pizza@1x.png"
            alt="Pizza picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
      <li class="favorites-item mobile-disappear">
        <picture>
          <source
            srcset="
              ./images/tablet/tablet-fav-chicken@1x.png 1x,
              ./images/tablet/tablet-fav-chicken@2x.png 2x,
              ./images/tablet/tablet-fav-chicken@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-chicken@1x.png 1x,
              ./images/desctop/desctop-fav-chicken@2x.png 2x,
              ./images/desctop/desctop-fav-chicken@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-chicken@1x.png"
            alt="Chicken picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
      <li class="favorites-item mobile-disappear">
        <picture>
          <source
            srcset="
              ./images/tablet/tablet-fav-salat@1x.png 1x,
              ./images/tablet/tablet-fav-salat@2x.png 2x,
              ./images/tablet/tablet-fav-salat@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-salat@1x.png 1x,
              ./images/desctop/desctop-fav-salat@2x.png 2x,
              ./images/desctop/desctop-fav-salat@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-salat@1x.png"
            alt="Salad picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
      <li class="favorites-item mobile-disappear">
        <picture>
          <source
            srcset="
              ./images/tablet/tablet-fav-borshch@1x.png 1x,
              ./images/tablet/tablet-fav-borshch@2x.png 2x,
              ./images/tablet/tablet-fav-borshch@3x.png 3x
            "
            media="(min-width: 768px) and (max-width:1279px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/desctop/desctop-fav-borshch@1x.png 1x,
              ./images/desctop/desctop-fav-borshch@2x.png 2x,
              ./images/desctop/desctop-fav-borshch@3x.png 3x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <img
            class="favorites-image"
            src="./images/desctop/desctop-fav-borshch@1x.png"
            alt="Borshch picture"
            width="315"
            height="315"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
