<footer>
<div class="container container-footer">
    <div class="nav-thumb">
        <nav class="nav">
            <a class="nav__logo nav__logo-footer" href="./index.html">
                <svg width="66" height="52">
                    <use href="./images/svg/symbol-defs.svg#icon-logo"></use>
                    <div class="nav__menu">
                        <ul class="nav__list nav-footer__list">
                            <li class="nav__item">
                                <a class="nav__link" href="#part-header">Header</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#part-hero">Hero</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#part-offerings">Offerings</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#part-favorites">Favorites</a>
                            </li>
                            <li class="nav__item">
                                <a class="nav__link" href="#part-customers">Customers Say</a>
                            </li>
                            <!-- <li class="nav__item">
                        <a class="nav__link" href="#part-subscribe">Subscribe</a>
                    </li> -->
                        </ul>
                    </div>
        </nav>
        <div class="form">
            <b class="form__text">Subscribe</b>
            <form class="sign-up-form">
                <input class="sign-up-input" type="email" name="mail" placeholder="Enter your email" required>
                <button class="sign-up-button" type="submit">Subscribe</button>
                <p class="form-text">By subscribing you agree to with our <a href="" class="form-text-policy">Privacy
                        Policy</a></p>
            </form>
        </div>
    </div>
    <div class="copy-thumb">
        <ul class="copy-thumb__list">
            <li class="copy-thumb__item"><a href="">Privacy Policy</a></li>
            <li class="copy-thumb__item"><a href="">Terms of Service</a></li>
            <li class="copy-thumb__item"><a href="">Cookies Settings</a></li>
        </ul>
        <p><time datetime="2022">2022</time> FoodSta. All right reserved.</p>
    </div>
</div>
</footer>