<header class="header">
  <div class="header__container">
    <!-- <a class="header__logo" href="./index.html">
      <img src="./images/logo_food.png" alt="logo_food" />
      <img src="./images/logo_food_new.svg" alt="logo_food" />
    </a> -->
    <nav class="header__nav">
      <a class="header__nav-logo" href="./index.html">
        <!-- <img src="./images/logo_food.png" alt="logo_food" /> -->
        <img src="./images/logo.svg" alt="nav_food" />
      </a>
      <div class="header__nav-menu">
        <ul class="header__nav-list">
          <li><a href="nav__item">Home</a></li>
          <li><a href="nav__item">About</a></li>
          <li><a href="nav__item">Service</a></li>
          <li><a href="nav__item">Menu</a></li>
          <li><a href="nav__item">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div class="header__button">
      <button class="header__button-inside" type="button">Order Now</button>
    </div>
  </div>
</header>
