<header class="header">
  <div class="header__container container">
    <nav class="nav">
      <a class="nav__logo" href="./index.html">
        <img src="./images/logo.svg" alt="nav__logo" />
      </a>
      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__text nav__text--active" href="">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__text" href="">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__text" href="">Service</a>
          </li>
          <li class="nav__item">
            <a class="nav__text" href="">Menu</a>
          </li>
          <li class="nav__item">
            <a class="nav__text" href="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header__button">
      <button class="header__button-inside" type="button">Order Now</button>
    </div>
  </div>
</header>
