<section class="hero">
  <div class="container hero__holder">
    <h1 class="hero__title">Enjoy Your Favorite From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="button">Order Now</button>
  </div>
  <div class="swiper">
    <div class="swiper__ellipse">
      <div class="swiper__wrapper">
        <div class="swiper__item">slider1</div>

        <div class="swiper__item">slider2</div>
        <div class="swiper__item">slider3</div>
      </div>
    </div>
    <div>
      <button class="button__next">
        <svg width="16.4" height="29">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <div>
      <button class="button__prev">
        <svg width="16.4" height="29">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
