<section class="hero" id="part-hero">
  <div class="container hero-container">
    <div class="hero__thumb">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="header__button-inside" type="button" data-modal-open>Order Now</button>
    </div>
    <div class="dish-thumb">
      <div class="dish">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/desctop/desctop-hero-dish1@1x.png 1x,
                    ./images/desctop/desctop-hero-dish1@2x.png 2x,
                    ./images/desctop/desctop-hero-dish1@3x.png 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/tablet-hero-dish1@1x.png 1x,
                    ./images/tablet/tablet-hero-dish1@2x.png 2x,
                    ./images/tablet/tablet-hero-dish1@3x.png 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="command__img"
                  src="./images/desctop/desctop-hero-dish1@1x.png"
                  alt="dish1"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/desctop/desctop-hero-dish2@1x.png 1x,
                    ./images/desctop/desctop-hero-dish2@2x.png 2x,
                    ./images/desctop/desctop-hero-dish2@3x.png 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/tablet-hero-dish2@1x.png 1x,
                    ./images/tablet/tablet-hero-dish2@2x.png 2x,
                    ./images/tablet/tablet-hero-dish2@3x.png 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="command__img"
                  src="./images/desctop/desctop-hero-dish2@1x.png"
                  alt="dish1"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/desctop/desctop-hero-dish3@1x.png 1x,
                    ./images/desctop/desctop-hero-dish3@2x.png 2x,
                    ./images/desctop/desctop-hero-dish3@3x.png 3x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/tablet-hero-dish3@1x.png 1x,
                    ./images/tablet/tablet-hero-dish3@2x.png 2x,
                    ./images/tablet/tablet-hero-dish3@3x.png 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="command__img"
                  src="./images/desctop/desctop-hero-dish3@1x.png"
                  alt="dish1"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button-next">
            <svg class="slider__icon">
              <use href="./images/svg/sprite.svg#icon-right"></use>
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg class="slider__icon">
              <use href="./images/svg/sprite.svg#icon-left"></use>
            </svg>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
