
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="nav-mobil__menu">
    <ul class="nav-mobil__list">
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-hero">Hero</a>
      </li>
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-offerings">Offerings</a>
      </li>
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-favorites">Favorites</a>
      </li>
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-customers">Customers Say</a>
      </li>
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-subscribe">Subscribe</a>
      </li>
      <li class="nav-mobil__item">
        <a class="nav-mobil__link" href="#part-footer">Footer</a>
      </li>
    </ul>
  </div>
  <button class="menu-button js-close-menu">
    <svg class="menu-button__icon" width="11" height="11">
      <use href="./images/svg/sprite.svg#icon-menu-close"></use>
    </svg>
  </button>
</div>

