<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__close-btn" type="button" data-modal-close>
            <svg class="modal__close-icon" width="24" height="24">
                <use href="./images/svg/sprite.svg#icon-menu-close"></use>
            </svg> </button>
        <p class="modalform__title">Order Form</p>
        <form class="modalform">
            <label class="modalform__field">
                <span class="modalform__field-desc">Name</span>
                <input type="text" class="modalform__input" name="user-name" placeholder="Your name" required
                    minlength="3" maxlength="25" title="The name must be between 3 and 25 characters">
            </label>
            <label class="modalform__field">
                <span class="modalform__field-desc">Phone number</span>
                <input type="tel" class="modalform__input" name="user-tel" placeholder="+38(0_ _) _ _ _   _ _   _ _"
                    required pattern="^\d{3}-?\d{3}-?\d{2}-?\d{2}$"
                    title="This phone must be in the format  099 000 00 00">
            </label>
            <label class="modalform__field">
                <span class="modalform__field-desc">E-mail</span>
                <input type="email" class="modalform__input" name="user-email" placeholder="example@gmail.com" required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Please enter a valid email address">
            </label>
            </label>
            <button type="submit" class="modalform__btn">Send</button>
        </form>
    </div>
</div>