<section class="offerings">
    <div class="container">
        <h2 class="">What’s Special About Our Offerings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul>
            <li>
                <svg class="" width="48" height="48"></svg>
                <h3 class="">Fasest Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                
            </li>
            <li>
                <svg class="" width="48" height="48"></svg>
                <h3 class="">Easy to order</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                
            </li>
        </ul>
        <button type="button" class="modal-button" data-modal-open>Order Now</button>
        <a target="_blank" href="#">Read more</a>
    </div>
</section>