<section class="offerings">
    <div class="container">
        <div class="apple">
            <picture>
                <source srcset="./images/desctop/desctop-apple@1x.png 1x, ./images/desctop/desctop-apple@2x.png 2x ./images/desctop/desctop-apple@3x.png 3x"
                media="(min-width:1280px)"
                type="image/png">
                
                <source
                    srcset="./images/tablet/tablet-apple@1x.png 1x, ./images/tablet/tablet-apple@2x.png 2x ./images/tablet/tablet-apple@3x.png 3x"
                    media="(min-width:768px)" 
                    type="image/png">
                
                <source
                    srcset="./images/mobile/mobile-apple@1x.png 1x, ./images/mobile/mobile-apple@2x.png 2x ./images/mobile/mobile-apple@3x.png 3x"
                    media="(min-width:480px)" type="image/png">

                <img src="./images/mobile/mobile-apple@1x.png" alt="apple">
            </picture>
        </div>
        <h2 class="specialty">What’s Special About Our Offerings</h2>
        <p class="specialty-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
            Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="usp">
            <li>
                <svg class="" width="48" height="48">
                    <use href="./images/sprite/symbol-defs.svg#touch-icon"></use>
                </svg>
                <h3 class="">Fastest Delivery</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>

            </li>
            <li>
                <svg class="" width="48" height="48">
                    <use href="./images/sprite/symbol-defs.svg#rocket-icon"></use>
                </svg>
                <h3 class="">Easy to order</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>

            </li>
        </ul>
        <button class="order-button" type="button" class="modal-button" data-modal-open>Order Now</button>
        <a target="_blank" href="#">Read more</a>
    </div>
</section>