<div class="container subscribe-container">
    <picture class="banana">
        <source
            srcset="images/mobile/mobile-banana@1x.png 1x, images/mobile/mobile-banana@2x.png 2x, images/mobile/mobile-banana@3x.png 3x"
            media="(max-width:767px)" type="image/png">
        <source
            srcset="images/tablet/tablet-banan@1x.png 1x, images/tablet/tablet-banan@2x.png 2x, images/tablet/tablet-banan@3x.png 3x"
            media="(min-width: 768px) and (max-width:1199px)" type="image/png">
        <source
            srcset="images/desctop/desctop-banan@1x.png 1x, images/desctop/desctop-banan@2x.png 2x, images/desctop/desctop-banan@3x.png 3x"
            media="(min-width:767px)" type="image/png">
        <img src="./images/mobile/mobile-banana@1x.png" alt="banana">
    </picture>
    <div class="text-conteiner">
        <h2 class="titel-subscribe">
            Subscribe To Get Special Offers
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
            in eros elementum tristique.
        </p>
        <div class="sign-up-title">
            <input class="sign-up-input" type="email" name="email" placeholder="Enter your email" required />
            <button class="sign-up-button" type="submit">
                Subscribe
            </button>
        </div>
    </div>
</div>