 .customers-conteiner {
margin: auto;
 }
.customers {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 1280px;
     background-image: url(../images/mobile/mobile-customers-bg@1x.png),
                       url(../images/mobile/mobile-customers-bg@2x.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    margin: auto;
}

.customers-title{
    margin: 0px;
    margin-right: 0px;
    font-family: roboto, bold;
    font-weight: 700;
    font-size: 28px;
    line-height: 1,17;
    width: 280px;
    margin-bottom: 20px;
    
}
.customers-last-title {
margin: 0px;
$main-text-color: #2C2C2C;
font-family: roboto, Regular;
font-weight: 400;
font-size: 14px;
line-height: 1.14px;
width: 280px;

}
.customers-box {
    margin-right: 0px;
    padding-left: 0px;
    margin-top: 32px;

}
.box {
    margin-right: 0px;
    @extend %list;
    border: 1px solid transparent;
    border-radius: 0px 20px 20px 20px;
    background-color: $main-bg-color ;
    padding: 8px;
    width: 280px;
    height: 247px;
    margin-bottom: 24px;
    margin-top: 28px;

    &:last-child {
        margin-bottom: 0px;
    }

}

.stars-item {
    display: flex;
    @extend %list;
    padding-left: 0px;
    margin-right: 0px;
    
}
.stars {
    margin-right: 8px;
    margin-bottom: 28px;
    &:last-of-type {
        margin-right: 0px;
    }
}

 
.customers-text {
    margin: 0px;
    font-family: roboto, bold;
    $main-text-color: #2C2C2C;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
     width: 264px;
     margin-bottom: 40px;
    

}
.customers-name {
    margin: 0px;
    font-family: roboto, medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    $main-text-color: #2C2C2C;
    margin-bottom: 2px;
}
.customers-about {
margin: 0px;
font-weight: 400;
font-size: 14px;
line-height: 1.5;

}

.svg-box {
display: block;
display: flex;
 margin-top: 40px;

}
 .box-name{
    margin: 0px;
    display: block;
    border-right: 2px solid #7EB101;
    padding-right: 16px;
    margin-left: 15px;
    
 }
