 .customers {
    @media screen and  (max-width:767px) {
     background-image: url(../images/mobile/mobile-customers-bg@1x.png);
    
     @media screen and (min-device-pixel-ratio:2),
     screen and (min-resolution:192dpi),
     screen and (min-resolution:2dppx) {
         background-image: url(../images/mobile/mobile-customers-bg@2x.png)
     }

     @media screen and (min-device-pixel-ratio:3),
     screen and (min-resolution:288dpi),
     screen and (min-resolution:3dppx) {
         background-image: url(../images/mobile/mobile-customers-bg@3x.png)
     }
        }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
     
         background-image: url(../images/tablet/tablet-customers-bg@1x.png);

         @media screen and (min-device-pixel-ratio:2),
         screen and (min-resolution:192dpi),
         screen and (min-resolution:2dppx) {
             background-image: url(../images/tablet/tablet-customers-bg@2x.png)
         }

         @media screen and (min-device-pixel-ratio:3),
         screen and (min-resolution:288dpi),
         screen and (min-resolution:3dppx) {
             background-image: url(../images/tablet/tablet-customers-bg@3x.png);
         }
     }

    @media screen and (min-width: 1280px) {
         background-image: url(../images/desctop/desctop-customers-bg@1x.png);

         @media screen and (min-device-pixel-ratio:2),
         screen and (min-resolution:192dpi),
         screen and (min-resolution:2dppx) {
             background-image: url(../images/desctop/desctop-customers-bg@2x.png)
         }

         @media screen and (min-device-pixel-ratio:3),
         screen and (min-resolution:288dpi),
         screen and (min-resolution:3dppx){
             background-image: url(../images/desctop/desctop-customers-bg@3x.png);
         }
     }
          background-size: cover;
          background-repeat: no-repeat;
          background-position: bottom;
 }

 .customers-container {
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

 }

.customers-title {
    @extend %section-title;
    margin-bottom: 20px;
     @media screen and (max-width: 767px){
    font-size: 28px;
     }
        
}
.customers-last-title {
display: inline-block;
margin-bottom: 32px;
font-size: 14px;
line-height: 1.14;
 @media screen and (min-width: 768px){
    font-size: 16px;
 }

}
.customers-box {
    @extend %list;
    @media screen and (min-width: 768px) and (max-width: 1279px){
        display: flex;
        gap: 32px;
    }
    @media screen and (min-width: 1280px){
        display: flex;
        gap: 139px;
    }

}
.box {
    margin: 0 auto 24px auto;
    @extend %list;
    border: 1px solid transparent;
    border-radius: 0px 20px 20px 20px;
    background-color: $main-bg-color ;
    padding: 8px;
    max-width: 100%;
    @media screen and (max-width: 479px){
        margin-bottom: 24px;
    }
     @media screen and (min-width: 768px){
        width: 336px;
        height: 244px;
        padding: 12px;
         margin-bottom: 0px;
        margin-top: 0px;
   }
  @media screen and (min-width: 1280px){
     width: 501px;
     height: 227px;
     padding: 14px;
  }

     &:last-child {
         margin-bottom: 0px;
     }

}

.stars-item {
    display: flex;
    @extend %list;
    padding-left: 0px;
    margin-right: 0px;
    
}
.stars {
    margin-right: 4px;
    margin-bottom: 28px;
    &:last-of-type {
        margin-right: 0px;
    }
}

 
.customers-text {
    margin: 0px;
    font-family: roboto, bold;
    $main-text-color: #2C2C2C;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
     width: 264px;
     margin-bottom: 40px;
     width: 100%;

    @media screen and (min-width: 768px){
        width: 312px;
    }
   @media screen and (min-width: 1280px){
    width: 473px;
   }
    

}
.customers-name {
    margin: 0px;
    font-family: roboto, medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    $main-text-color: #2C2C2C;
    margin-bottom: 2px;
}
.customers-about {
margin: 0px;
font-weight: 400;
font-size: 14px;
line-height: 1.5;

}

.customer__image {
display: block;
display: flex;
margin-top: 40px;

}
 .box-name{
    margin: 0px;
    display: block;
    border-right: 2px solid #7EB101;
    padding-right: 16px;
    margin-left: 15px;
    
 }
