.favorites {

  @media screen and (max-width:767px){
  padding: 60px 0;
  }

  @media screen and (min-width:768px){
    padding: 100px 0;
  }
}
.favorites-title{
  @extend %section-title;
  @media screen and (max-width:767px) {
      font-size: 28px;
    }
  text-align: center;
  margin-bottom: 20px;
}

.favorites-text{
  text-align: center;
  margin-bottom: 40px;
}


.favorites-list {
  @extend %list;
  @media screen and (max-width:767px) {
     gap: 20px;
    }

  @media screen and (min-width:768px) {
    gap: 32px;
  }
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.mobile-disappear {
  @media screen and (max-width:767px) {
      display: none;
    }
}

.favorites-item {
  background-color: #fefefe;

  @media screen and (max-width:767px) {
  max-width: 440px;
  padding: 17px;
  border: 11px solid #ffe550;
  }

@media screen and (min-width:768px) and (max-width:1279px){
  max-width: 336px;
  padding: 20px;
  border: 14px solid #ffe550;
  }

@media screen and (min-width:1280px) {
  max-width: 394px;
  padding: 23px;
  border: 16px solid #ffe550;
}
  border-radius: 50%;
}

.favorites-item:hover,
.favorites-item:focus {
  border: 16px solid #bbf330;
  cursor: pointer;
}

.favorites-item:active {
  border: 16px solid blue;
}

// .favorites-image {
//   margin: auto;
// }