.favorites {

  @media screen and (max-width:767px){
  padding: 60px 0;
  }

  @media screen and (min-width:768px){
    padding: 100px 0;
  }
}
.favorites-title{
  text-align: center;
  margin-bottom: 20px;
}

.favorites-text{
  text-align: center;
  margin-bottom: 40px;
}


.favorites-list {
  @extend %list;
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.mobile-disappear {
  @media screen and (max-width:767px) {
      display: none;
    }
}
.favorites-item {
  margin-bottom: 30px;
  
  @media screen and (max-width:767px) {
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  @media screen and (min-width:768px) {
    &:nth-child(n+5) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:1280px) {
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
  
}

.favorites-image {
  padding: 24px;
  background-color: #fefefe;
  border: 16px solid #ffe550;

  border-radius: 50%;
}

.favorites-image:hover,
.favorites-image:focus {
  border: 16px solid #bbf330;
  cursor: pointer;
}

.favorites-image:active {
  border: 16px solid blue;
}
