.header {
    display: flex;
    min-height: 72px;   
    background-color: $secondary-bg-color; 
}

.header__container {   
    display: flex; 
    align-items: center;   
    justify-content: space-between;    
}
// кнопка бургера

.burger__button {
    border: none;
    padding: 0;
    color: $main-green-color;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.burger__button:focus {
    color: $main-yellow-color;
}
.burger__button-icon {
    fill: currentColor;
}
.nav-and-button {
    display: none;
    @media screen and (min-width: 768px) {
            display: flex;
            height: 100%;
            align-items: center;
        }
}
.nav {
    margin-right: 30px;
    display: flex;
    height: 100%;
}

.header__button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 32px;
    background: $accent-green-color;
    border-radius: 30px;
    border: none;
    
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;     
    color: $main-text-color;
}

.header__button:hover,
.header__button:focus {
    background: $accent-modal-green-color;
    cursor: pointer;
}

