.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  transition: opacity 250ms $timing-function, transform 250ms $timing-function;
  overflow-y: scroll;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.8);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  @media screen and (max-height: 449px) {
      top: 55vh;
      left: 50vw;
    }
  padding: 32px 20px;
  transform: translate(-50%, -50%);
  height: 449px;

  background-color: $main-yellow-color;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
 
@media screen and (max-width: 767px) {
  .modal {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 458px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-color: transparent;
  padding: 7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}

.modalform__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.modalform {
  display: flex;
  flex-direction: column;
}

.modalform__field-desc {
  display: block;
  margin-bottom: 2px;
  font-weight: 500;
  line-height: 1.4;
  padding-left: 12px;
}

.modalform__field:nth-child(-n + 2) {
  margin-bottom: 24px;
}

.modalform__input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid $main-green-color;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #C4C4C4;
  line-height: 1.25;
  padding-left: 12px;
  transition: border-color 250ms $timing-function;

  &:focus {
    outline: none;
  }
}

.modalform__btn {
  margin-top: 32px;
  align-self: center;
  padding: 10px 38px;
  border: 2px solid $main-green-color;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  cursor: pointer;
  color: $main-text-color;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-green-color;
    outline: none;
  }
}
