h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.offerings {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 41px;
    padding-bottom: 60px;
    background-image:url("../images/mobile/mobile-offerings-bg@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio:2) and (max-width:767px),
screen and (min-resolution:192dpi) and (max-width:767px),
screen and (min-resolution:2dppx) and (max-width:767px) {

    .offerings {
        background-image: url("../images/mobile/mobile-offerings-bg@2x.png");
    }
}

@media screen and (min-device-pixel-ratio:3) and (max-width:767px),
screen and (min-resolution:288dpi) and (max-width:767px),
screen and (min-resolution:3dppx) and (max-width:767px) {

    .offerings {
        background-image: url("../images/mobile/mobile-offerings-bg@3x.png");
    }
}

.apple{
    margin: 41px 20px 60px 20px;
}
.specialty{
    margin-bottom: 28px;
    @include font(700, 28px, 33px, 0.06em);
    color: $main-text-color;
}
.specialty-description{
    margin-bottom: 28px;
    @include font(400, 14px, 16px, 0.03em);
    color: $main-text-color  
}
.usp{
    @extend %list;
}
.icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-size: contain;
}
.icon{
    fill: $main-green-color;
}

.usp-specify{
    margin-bottom: 16px;
    @include font(700, 18px, 21px, 0.06);
}
.usp-description{
    margin-bottom: 28px;
    @include font(400, 14px, 16px, 0.03);
}

.order-button{
    width: 106px;
    height: 40px;
    margin-right: 24px;
    border: 2px solid $main-green-color;
    border-radius: 30px;
    background: #FFFFFF;
    color: $main-text-color;
    @include font(500, 13px, 20px, 0.03);
    cursor: pointer;
    transition: border-color $timing-function;
        
    &:hover{
       border-color: #597d00;
    } 
}
.read-button {
    background-color: transparent;
    border-color: transparent;
    transition: fill $timing-function;
    
       &:hover .read-details-icon{
       fill: #597d00;
    }
}
.read-link{
    position:relative;
    @include font(400, 14px, 20px, 0.03);
    color: $nav-text-color;
    transition: color $timing-function;

        &:hover{
        color: #597d00;    
        }
}

.read-link-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
    // and (max-width: 1279px)
    .offerings{
        padding-bottom: 60px;
        background-image: url("../images/tablet/tablet-offerings-bg@1x.png");      
    }
    .specialty-thumb{
        width: 526px;
    }
    .specialty {
        margin-bottom: 20px;
        @include font(700, 42px, 49px, 0.06em);
    }
    
    .specialty-description {
        margin-bottom: 40px;
        @include font(400, 16px, 19px, 0.06em);
    }
    .usp{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 116px;
    }    
    // .usp-item {
    //     margin-bottom: 40px;
    // }
    .usp-specify {
        margin-bottom: 16px;
        @include font(700, 18px, 21px, 0.06);
    }
    .usp-description{
        margin-bottom: 40px;
    }
    .order-button{
        cursor: pointer;
    }
    .read-link {
        &:focus {
            color: #597d00;
        }
    }
    .read-button {
        &:focus .read-details-icon {
            fill: #597d00;
        }
}
}
@media screen and (min-device-pixel-ratio:2) and (min-width:768px),
screen and (min-resolution:192dpi) and (min-width:768px),
screen and (min-resolution:2dppx) and (min-width:768px) {

    .offerings {
        background-image: url("../images/tablet/tablet-offerings-bg@2x.png");
    }
}

@media screen and (min-device-pixel-ratio:3) and (min-width:768px),
screen and (min-resolution:288dpi) and (min-width:768px),
screen and (min-resolution:3dppx) and (min-width:768px) {

    .offerings {
        background-image: url("../images/tablet/tablet-offerings-bg@3x.png");
    }
}
@media screen and (min-width: 1280px) {
    .read-button{
        display: none;
    }
    .offerings {
        background-image: url("../images/desctop/desctop-offerings-bg@1x.png");
    }
    .desktop-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .apple {
        // margin-right: 90px;
        padding: 177px 90px 43px 16px;
        // 177px 90px 43px 16px;
    }
    .desktop-text{
        width: 573px;
        padding-top: 260px;
    }
    .specialty-description {
        width: 500px;
        @include font(400, 16px, 24px, 0.06em);
    }
    .usp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 67px;
    }
    .usp-description{
        margin-bottom: 32px;
        @include font(400, 14px, 19px, 0.06em);
    }
 
}

@media screen and (min-device-pixel-ratio:2) and (min-width:1280px),
screen and (min-resolution:192dpi) and (min-width:1280px),
screen and (min-resolution:2dppx) and (min-width:1280px) {

    .offerings {
        background-image: url("../images/desctop/desctop-offerings-bg@2x.png");
    }
}

@media screen and (min-device-pixel-ratio:3) and (min-width:1280px),
screen and (min-resolution:288dpi) and (min-width:1280px),
screen and (min-resolution:3dppx) and (min-width:1280px) {

    .offerings {
        background-image: url("../images/desctop/desctop-offerings-bg@3x.png");
    }
}
//    @media screen and (max-width: 479px) {
//        padding: 0 20px;
//    }

//    @media screen and (min-width: 480px) and (max-width: 767px) {
//        width: 480px;
//        padding: 0 20px;
//    }

//    

//    @media screen and (min-width: 1280px) {
//        width: 1280px;
//        padding: 0 16px;
//        ;
//    }
   