h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
.offerings {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 41px;
    padding-bottom: 60px;
    background-image:url("../images/mobile/mobile-offerings-bg@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.apple{
    margin: 41px 20px 60px 20px;
}
.specialty{
    margin-bottom: 28px;
    @include font(700, 28px, 33px, 0.06em);
    color: $main-text-color;
}
.specialty-description{
    margin-bottom: 28px;
    @include font(400, 14px, 16px, 0.06em);
    color: $main-text-color
    
}
.usp{
    @extend %list;
}
.icon-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-size: contain;
}
.icon{
    fill: $main-green-color;
}
.usp-item{
    margin-bottom: 28px;
}
.usp-specify{
    margin-bottom: 16px;
    @include font(700, 18px, 21px, 0.06);
}

.order-button{
    width: 106px;
    height: 40px;
    margin-right: 24px;
    border: 2px solid $main-green-color;
    border-radius: 30px;
    background: #FFFFFF;
    color: $main-text-color;
    @include font(500, 13px, 20px, 0.03);
    cursor: pointer;
    transition: border-color $timing-function;
        
    &:hover{
       border-color: #597d00;
    } 
}
.read-button {
    background-color: transparent;
    border-color: transparent;
    transition: fill $timing-function;
    
       &:hover .read-details-icon{
       fill: #597d00;
    }
}
.read-details{
    position:relative;
    @include font(400, 14px, 20px, 0.03);
    color: $nav-text-color;
    transition: color $timing-function;

        &:hover{
        color: #597d00;    
        }
}

.read-details-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
// @media screen and (min-device-pixel-ratio:2) and (max-width:767px),
// screen and (min-resolution:192dpi) and (max-width:767px),
// screen and (min-resolution:2dppx) and (max-width:767px){
//     .offerings{
//         background-image: url(../src/images/mobile/mobile-offerings-bg@2x.png);
//     }
// }